.product {
    border-radius: 12px;
    min-width: 200px;

    > .product-content {
        background-color: aqua;
    }
    &-title {
        h3 {
            a {text-decoration: none;
            }
        }
    }
}

.element + .element {
    color: red;
}